@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Medium'), url(./assets/fonts/Poppins-Medium.ttf) format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Bold'), url(./assets/fonts/Poppins-Bold.ttf) format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Light'), url(./assets/fonts/Poppins-Light.ttf) format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-ExtraLight'), url(./assets/fonts/Poppins-ExtraLight.ttf) format('opentype');
  font-weight: 200;
}
body {
  margin: 0;
  font-family: 'Poppins-Regular', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
